/* You can add global styles to this file, and also import other style files */

.dasboard-BackGround{
    background-color: #16113A;
}

.chart-container{
    background-color: #272953;
    width: 100%;
}